@import "/src/bootstrap/bootstrap.scss";

body {
    /* .container {
        width: 1172px;
    } */

    .header {
        margin-top: 35px;

        .wrapper {
            /* .img {
                background-image: url('./../assets/logo.png');
            } */
        }
    }
}