@import "/src/bootstrap/bootstrap.scss";

@font-face {
    font-family: 'BalooTammudu2';
    src: url('./../assets/fonts/BalooTammudu2-Bold.ttf') format('ttf');

    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'BalooTammudu2', sans-serif;
    background-color: #f1f6fa;
    /* .container {
        width: 1172px;
    } */

    .header {
        margin-top: 35px;

        .wrapper {
            /* .img {
                background-image: url('./../assets/logo.png');
            } */
        }

        .search-box {
            .dropdown {
                &-toggle {
                    border-radius: 20px 0 0 20px;
                    background-color: #00ca00;
                    width: 149px;
                    height: 40px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                }

                &-toggle::after {
                    display: none;
                }
            }
        }



        .has-search {
            border-radius: 0 20px 20px 0;
            background-color: #fff;
            /* width: 452px;
            height: 40px; */
            padding-right: 10px;

            input {
                color: #7a7a7a;
                font-size: 16px;
                line-height: 50px;
                border: none;
            }
            
            .form-control-feedback {
                width: 19px;
                height: 20px;
                text-align: center;
                cursor: pointer;
            }

        }
    }
}